img{
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
    text-shadow: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: yellow;
}
h3{
    text-align: center;
    text-decoration: cornsilk;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h6{
    text-align: center;
}
div{
    height: 350px;
    width: 700px;
    color: black;
    
    background-color:orange;
    border: black;
}
